
  @-webkit-keyframes mymovebutton {
    from {left: 100px;}
  }
  @keyframes mymovebutton {
    from {left: 100px;}
  }

  @-webkit-keyframes mymove {
    from {left: 0px; }
  }

  @keyframes mymove {
    from {left: 0px; }
  }
  .annimatedButton{
    position: absolute;
      -webkit-animation-name: mymovebutton;
              animation-name: mymovebutton;
      -webkit-animation-duration: 15s;
              animation-duration: 15s;
      -webkit-animation-iteration-count: 1;
               animation-iteration-count: 1;
      -webkit-animation-direction: alternate;
               animation-direction: alternate;
  }
  .move-right{
    width: 100px;
    height: 100px;
    top: 40px;
    position: absolute;
    -webkit-animation-name: mymove;
             animation-name: mymove;
     -webkit-animation-duration: 15s;
             animation-duration: 15s;
     -webkit-animation-iteration-count: 1;
             animation-iteration-count: 1;
     -webkit-animation-direction: alternate;
             animation-direction: alternate;
  }
  .waving_gif{
    position: absolute;
    top: 20px;
    width: 70px;
    height: 115px;
  }

  .horizTranslate {
    -webkit-transition: 15s;
    -moz-transition: 15s;
    -ms-transition: 15s;
    -o-transition: 15s;
    transition: 15s;
  }
