
@media (max-width: 575px) {
  .annimatedButton{
    right: 30px;
  }
  .move-right{
    display: none;
  }
  .waving_gif{
    display: none;
  }
}

@media (min-width: 576px) {
  @keyframes mymovebutton {
    from {left: 100px;}
  }

  @keyframes mymove {
    from {left: 0px;}
  }
  .annimatedButton{
    position: absolute;
      left: 576px;
      top: 50px;
      animation: mymovebutton 10s 1;
      animation-direction: alternate;
  }
  .move-right{
    position: absolute;
    left: 476px;
    animation: mymove 10s 1;
    animation-direction: alternate;
  }
  .waving_gif{
    position: absolute;
    left: 476px;
    top: 0px;
    width: 90px;
    height: 150px;
  }
}

@media (min-width: 768px) {
  @keyframes mymovebutton {
    from {left: 100px;}
  }

  @keyframes mymove {
    from {left: 0px;}
  }
  .annimatedButton{
    position: absolute;
      left: 768px;
      top: 50px;
      animation: mymovebutton 10s 1;
      animation-direction: alternate;
  }
  .move-right{
    position: absolute;
    left: 668px;
    animation: mymove 10s 1;
    animation-direction: alternate;
  }
  .waving_gif{
    position: absolute;
    left: 668px;
    top: 0px;
    width: 90px;
    height: 150px;
  }
}

@media (min-width: 992px) {
  @keyframes mymovebutton {
    from {left: 100px;}
  }

  @keyframes mymove {
    from {left: 0px;}
  }
  .annimatedButton{
    position: absolute;
      left: 992px;
      top: 50px;
      animation: mymovebutton 10s 1;
      animation-direction: alternate;
  }
  .move-right{
    position: absolute;
    left: 892px;
    animation: mymove 10s 1;
    animation-direction: alternate;
  }

  .waving_gif{
    position: absolute;
    left: 892px;
    top: 0px;
    width: 90px;
    height: 150px;
  }
}

@media (min-width: 1200px) {
  @keyframes mymovebutton {
    from {left: 100px;}
  }

  @keyframes mymove {
    from {left: 0px; }
  }
  .annimatedButton{
    position: absolute;
      left: 1150px;
      top: 50px;
      animation: mymovebutton 15s 1;
      animation-direction: alternate;
  }
  .move-right{
    position: absolute;
    left: 1050px;
    animation: mymove 15s 1;
    animation-direction: alternate;
  }
  .waving_gif{
    position: absolute;
    left: 1050px;
    top: 0px;
    width: 100px;
    height: 170px;
  }
}
