<style>


@keyframes enlarge-image-height{
    from{height: 65%;}
    to{height: 75%;}
    from{width: 65%;}
    to{width: 75%;}
  }


  @keyframes hide-image{
    from{visibility: visible;}
    to{visibility: hidden;}
  }

.Languagecard{

        margin-top: 50px;
        height: 400px;
        box-shadow: 0 6px 17px 0 rgba(0,0,0,0.2);
        width: 100%;
    }

.IntroductionTitle{
    font-family: KayakSansRegular;
    display: flex;
    flex-direction: column;;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;

}

.LanguageContainers{
    /* background-color: green; */
    width: 80%;
    margin: 10px auto;
}



.grid-box {
        /* height: 300px;
        width: 30%; */
        /* background-color: wheat; */

}


.grid-box :hover{
        background-color: rgb(92, 92, 223);

    }

.image-box{
        box-shadow: 0 6px 17px 0 rgba(0,0,0,0.2);
        /* border-radius: 290486px; */
        border-radius: 100%;
        /* padding: 15px; */
        width: 140px;
        height: 140px;
        /* margin: auto; */
        display: flex;
        align-items: center;
        justify-content: center;


    }
 .grid-box-images{

        /* width: 100%;
        height: 100%; */
        width: 80px;
        height: 80px;
        object-fit:cover;
         /* animation: animated-text 2s steps(29,end) 1s 1 normal both, blinkTextCursor 600ms steps(29,end) infinite;; */

    }

    .image-box :hover{
        background-color: transparent;
        animation: enlarge-image-height 3s;
    }


    #box0.image-box.clicked{
        background-color: blue;
    }







    .Languagecard{
       /* background-color: yellow; */
       margin-top: 50px;
       height: 200px;
       box-shadow: 0 0px 0px 0 rgba(0,0,0,1000);
       width: 100%;
   }


     .MobileViewProfileContainer{
        /* background-color: yellow; */
        display: flex;
        flex-direction: row;
        justify-content: center;


     }

     .mobileProfileCard{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
         width: 150px;
         height: 150px;
         padding-top: 20px;

         margin: 30px 30px 0px 30px;
         box-shadow: 0 6px 17px 0 rgba(0,0,0,0.2);
         /* border-radius: 100%; */
     }

     .mobileProfileCard-img{
         border-radius: 100%;
          width: 70%;
          height: 70%;

      }

      .mobileProfileCard-text{
          margin: auto;
      }

    .testall{
        box-shadow: 0 6px 17px 0 rgba(0,0,0,0.2);
        /* border-radius: 290486px; */
        border-radius: 100%;
        /* padding: 15px; */
        width: 140px;
        height: 140px;
        /* margin: auto; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }
    .testall.clicked{
        background-color: blue;

    }


</style>

<div >
    <div class = "MobileViewProfileContainer">
        <div class = "mobileProfileCard">
            <img class = "mobileProfileCard-img" src="assets/profilepic2.jpg" alt="myprojects">
            <label class = "H3 mobileProfileCard-text">About me</label>
        </div>
        <div class = "mobileProfileCard">
            <img class = "mobileProfileCard-img" src="assets/projects.png" alt="myprojects">
            <label class = "H3 mobileProfileCard-text">My Projects</label>
        </div>
    </div>
</div>


<div class="Languagecard">

<div (window:resize)="onResize($event.srcElement.innerWidth)"  >
    <div *ngIf = "!mobileView">
        <div>
            <label class="H1 IntroductionTitle">My Portfolio</label>
            <label class="H2 IntroductionTitle" >Click any language to continue</label>
    </div>
        <div  class="LanguageContainer"  fxLayoutGap="20px" fxLayout="row"  fxLayoutAlign = "center" >
            <div [ngClass] = "allButtonPressed ? 'clicked'  : 'notclicked'" (click)="MovingLanguageIcon($event, allButton)" class = "H1 testall"><label>ALL</label></div>
            <div  *ngFor="let item of allLanguagess; let i = index">

                <div (click)="MovingLanguageIcon($event, item)" class ="grid-box" fxFlex >
                    <!-- <div  [ngClass] = "status ? 'clicked'  : 'notclicked'" class="image-box"  id="box{{i}}"> -->
                      <div [ngClass]="{'active': item.active}" class="image-box"  id="box{{i}}">
                      <img  class ="grid-box-images" src= {{item.img}}>
                    </div>
                </div>
            </div>
    </div>
</div>





</div>



</div>

<!-- fxLayoutGap="20px" fxLayout="row"  fxLayoutAlign = "center" class = "MobileChooseTechnologies" -->
